<!DOCTYPE html>
<html lang="en">
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="https://cuvette.tech/">
                <img src="../static/cuvette.svg" alt="" width="auto" height="auto">
            </a>
        </div>
    </nav>
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-3 mt-4" id="Welcome">
                <h1>Welcome to your<br> Dashboard</h1>
                <p>
                    This is the homepage of lead <br>
                    management system, login now to begin</p>
                <img src="../static/illustration.svg" alt="" width="auto" height="auto">
            </div>
            <div class="column register">
                <form method="POST" style="border: 4px solid border-left; margin: 5%; padding: 4px; border-radius:1%;">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      {{ form|crispy}}
                    </fieldset>
                   <center>
                    <button style="background: rgb(3, 4, 6); font-size: 3rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; submit</button>
                  </center>
                  <br/>
                  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: yellowgreen; padding:2%; cursor:pointer; margin-right:2%;">You are ready to login now</a></sub>
                  </form>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer>
        Copyright 2022 Cuvette Tech - All rights reserved
    </footer>
</body>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</html>