.column {
  float: left;
  width: 50%;
  /* background-color: #6C757D; */
}

.one{
  margin-left: -40px;
  padding-left: 60px;
  background-color: rgba(247, 248, 250, 0.5);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

  .img404{
    /* margin-top:5px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .maintext{
    margin-top: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
  }
  .subtext{
    /* margin-top: -20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6C757D;
  }
  .containerfour{
    height: 55px;
    position: relative;
  }

  .buttonfour { 
    color: #FFFFFF; 
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%)
    } 